body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  width: 300px;
  height: 300px;
  background-color: #fff;
}

.input-mnemonic {
  width: 100%;
}

.generate-button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: #cccccc;
  border-radius: 10px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.func-container {
  width: 400px;
  border:  gray solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 2px 2px 2px #616161;;
}

.text {
  color: #fff;
}

.text-container {
  background-color: #151515;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  height: 140px;
}

.mnemonic-input {
  border-radius: 10px;
  width: calc(100% - 20px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.mnemonic-input:focus {
  border: 1px solid #555;
}

.mnemonic-input::placeholder {
  color: gray;
}